<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Actualizar Mantenimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;">Actualizar Mantenimiento</h2>
    <form action="/maintainance/update" method="post">
        <label for="id">ID:</label>
        <input type="number" id="id" name="id" required>

        <label for="idestado">NUEVO ID Estado:</label>
        <input type="number" id="idestado" name="idestado" required>

        <label for="idunidadtransporte">NUEVO ID Unidad de Transporte:</label>
        <input type="number" id="idunidadtransporte" name="idunidadtransporte" required>

        <label for="tipo">NUEVO Tipo:</label>
        <input type="text" id="tipo" name="tipo" required>

        <label for="fecha">NUEVO fecha:</label>
        <input type="datetime-local" id="fecha" name="fecha" required>

        <button type="submit">Actualizar Mantenimiento</button>
    </form>
</body>
</html>
