<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar Gestion de Registro de Movimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
    <h2 style="text-align: center;  background-color: rgb(47, 165, 255); padding: 10px; color: white;">Consultar Gestion de Registro de Movimiento</h2>
    <form action="/movement/byid" method="get">
        <label style="margin-left: 200px;" for="ID">ID Generado de Registro de Movimiento:</label>
        <input type="text" id="ID" name="ID" required>
        
        <button  style="margin-left: 50px;"type="button" class="btn btn-info" onclick="location.href='/movement/administrador/movements'">Ver Todos</button>
        <button style="margin-left: 200px; margin-top: 10px; padding: 10px" class="btn btn-secondary" type="submit">Consultar</button>
    </form>
    <div class="grid" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; margin-top: 25px;">
        <div>
            <button style="padding: 10px; margin-left: 100px;" onclick="location.href='/login/user/administrador'">
            Regresar a la Pagina Principal
            </button>
        </div>
        <div>
            <button style="padding: 10px; margin-left: 50px;" onclick="location.href='/movement/administrador/crear'">
            Crear una Nueva Registro de Movimiento
            </button>
        </div>
        <div>
            <button style="padding: 10px; margin-left: 80px;" onclick="location.href='/movement/administrador/actualizar'">
            Actualizar Registro de Movimiento
            </button>
        </div>
        <div>
            <button style="padding: 10px; margin-left: 80px;" onclick="location.href='/movement/administrador/eliminar'">
            Eliminar Registro de Movimiento
            </button>
        </div>
    </div>
</body>
</html> 