<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Consultar Registro de Asistencia</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
     <h2 style="text-align: center;  background-color: rgb(47, 165, 255); padding: 10px; color: white;">Consultar Registro de Asistencia por Identificacion del Usuario</h2>
    <form action="/asistance/user" method="get">
        <label style="margin-left: 200px;" for="iduser">Identificacion del Usuario:</label>
        <input type="number" id="iduser" name="iduser" required>
        <button  style="margin-left: 50px;"type="button" class="btn btn-info" onclick="location.href='/asistance/asistances'">Ver Todos</button>
        <button style="margin-left: 200px; margin-top: 10px; padding: 10px" class="btn btn-secondary" type="submit">Consultar</button>
    </form>
    <div class="grid" style="display: grid; grid-template-columns: 1fr 1fr; margin-top: 25px;">
        <div>
            <button style="padding: 10px; margin-left: 100px;" onclick="location.href='/login/user/supervisor'">
            Regresar a la Pagina Principal
            </button>
        </div>
        <div>
            <button style="padding: 10px; margin-left: 50px;" onclick="location.href='/asistance/supervisor/crear'">
            Crear una Nueva Registro de Asistencia
            </button>
        </div>
    </div>
</body>
</html>