<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Reporte de Rendimiento</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const fechaInput = document.getElementById('fecha');
            const hoy = new Date();
            const fechaFormateada = hoy.toISOString().split('T')[0];
            fechaInput.value = fechaFormateada;
        });
    </script>
</head>
<body>
    <h2 style="text-align: center;background-color: rgb(47, 165, 255); padding: 10px; color: white;">Crear Reporte de Rendimiento</h2>
    <form styles=""action="/behavior/create" method="post">
    <div class="container" style="display: grid; grid-template-columns: repeat(2,1FR); gap: 20px; height: 250px;">
        <div class="detail">
          <label for="ID">ID:</label>
          <input style="border-color: black;" type="number" id="ID" name="ID" value="{{ nuevo_id }}" readonly required>
        </div>
        <div class="detail">
          <label for="iduser">Identificacion del Usuario:</label>
          <input style="border-color: black;" type="number" id="iduser" name="iduser"required>
        </div>
        <div class="detail">
          <label for="cantidadrutas">Cantidad de Rutas Cubiertas:</label>
          <input style="border-color: black;" type="number" id="cantidadrutas" name="cantidadrutas"required>
        </div>
        <div class="detail">
          <label for="horastrabajadas">Cantidad de Horas Trabajadas:</label>
          <input style="border-color: black;" type="number" id="horastrabajadas" name="horastrabajadas"required>
        </div> 
    </div> 
    <label for="type">Observaciones:</label>
    <input style="border-color: black; height:80px; " type="text" id="observaciones" name="observaciones"required>
    <div class="detail">
            <label style="margin-left: 220px; margin-top: 10px;" for="fecha">Fecha de Emision:</label>
            <input style="margin-left: 220px;" type="date" id="fecha" name="fecha" required>
    </div> 
    <button style="padding: 10px; margin-left: 180px;margin-top: 20px; border-color: black;" type="submit">Crear Reporte de Rendimiento</button>
    </form>
    <a style="padding: 10px; margin-left:640px;margin-top: 10px ;border-color: black;" onclick = "location.href='/behavior/consultar/administrador'">Volver a la Pagina de Consulta</button>

</body>
</html>
