<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Tarjeta</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2 style="text-align: center;">Crear Nueva Tarjeta</h2>
    <form action="/card/create" method="post">
        <label for="tipo">Identificador</label>
        <input type="number" id="id" name="id" min="0" step="0.01" required>
        <label for="tipo">Tipo de Tarjeta:</label>
        <select id="tipo" name="tipo" required>
            <option value="">Selecciona un tipo</option>
            <option value="Bus">Tren</option>
            <option value="Tren">Bus</option>
            <option value="Eco Barquito">Eco Barquito</option>
        </select>
        <button type="submit">Crear Tarjeta</button>
    </form>
</body>
</html>
