<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Horario {{ horario.id }}</title>
</head>
<body>
    <h1>Detalle del Horario</h1>
    {% if horario %}
    <div>
        <p><strong>ID de Horario:</strong> {{ horario.id }}</p>
        <p><strong>Fecha de Llegada:</strong> {{ horario.llegada }}</p>
        <p><strong>Fecha de Salida:</strong> {{ horario.salida }}</p>
    </div>
    <p><a href="/schedules">Volver a la Lista de Horarios</a></p>
    <p><a href="/schedules/consultar">Volver a la Página de Consulta</a></p>
    {% else %}
    <p>No se encontró el horario.</p>
    {% endif %}
</body>
</html>