{% extends "base.html" %}

{% block title %}Detalle de la Parada{% endblock %}
{% block header %}Detalle de la Parada{% endblock %}
{% block back_url %}/stops{% endblock %}

{% block content %}
{% if parada %}
<div class="space-y-4">
    <div>
        <h2 class="text-lg font-semibold text-gray-700">ID:</h2>
        <p class="text-gray-600">{{ parada.ID }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Nombre:</h2>
        <p class="text-gray-600">{{ parada.Nombre }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Ubicación:</h2>
        <p class="text-gray-600">{{ parada.Ubicacion }}</p>
    </div>
</div>
{% else %}
<p class="text-red-500 text-center">No se encontró información para esta parada.</p>
{% endif %}
{% endblock %}