{% extends "base.html" %}

{% block title %}Detalle del Estado de Mantenimiento{% endblock %}
{% block header %}Detalle del Estado de Mantenimiento{% endblock %}
{% block back_url %}/maintainance_status{% endblock %}

{% block content %}
{% if estado %}
<div class="space-y-4">
    <div>
        <h2 class="text-lg font-semibold text-gray-700">ID:</h2>
        <p class="text-gray-600">{{ estado.id }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Tipo de Estado:</h2>
        <p class="text-gray-600">{{ estado.TipoEstado }}</p>
    </div>
</div>
{% else %}
<p class="text-red-500 text-center">No se encontraron detalles para este estado de mantenimiento.</p>
{% endif %}
{% endblock %}