{% extends "base.html" %}

{% block title %}Detalle del Turno{% endblock %}
{% block header %}Detalle del Turno{% endblock %}
{% block back_url %}/shifts{% endblock %}

{% block content %}
{% if turno %}
<div class="space-y-4">
    <div>
        <h2 class="text-lg font-semibold text-gray-700">ID del Turno:</h2>
        <p class="text-gray-600">{{ turno.ID }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Tipo de Turno:</h2>
        <p class="text-gray-600">{{ turno.TipoTurno }}</p>
    </div>
</div>
{% else %}
<p class="text-red-500 text-center">No se encontró el turno.</p>
{% endif %}
{% endblock %}