{% extends "base.html" %}

{% block title %}Detalle de Ruta{% endblock %}
{% block header %}Detalle de Ruta{% endblock %}
{% block back_url %}/routes{% endblock %}

{% block content %}
{% if route %}
<div class="space-y-4">
    <div>
        <h2 class="text-lg font-semibold text-gray-700">ID:</h2>
        <p class="text-gray-600">{{ route.ID }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Horario:</h2>
        <p class="text-gray-600">{{ route.IDHorario }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Nombre:</h2>
        <p class="text-gray-600">{{ route.Nombre }}</p>
    </div>
</div>
{% else %}
<p class="text-red-500 text-center">Ruta no encontrada.</p>
{% endif %}
{% endblock %}