{% extends "base.html" %}

{% block title %}Detalle del Ticket{% endblock %}
{% block header %}Detalle del Ticket{% endblock %}
{% block back_url %}/tickets{% endblock %}

{% block content %}
{% if ticket %}
<div class="space-y-4">
    <div>
        <h2 class="text-lg font-semibold text-gray-700">ID del Ticket:</h2>
        <p class="text-gray-600">{{ ticket.ID }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Estado de la Incidencia:</h2>
        <p class="text-gray-600">{{ ticket.EstadoIncidencia }}</p>
    </div>
</div>
{% else %}
<p class="text-red-500 text-center">No se encontró información para este ticket.</p>
{% endif %}
{% endblock %}