{% extends "base.html" %}

{% block title %}Detalle de Incidencia{% endblock %}
{% block header %}Detalle de Incidencia{% endblock %}
{% block back_url %}/incidences{% endblock %}

{% block content %}
{% if incidencia %}
<div class="space-y-4">
    <div>
        <h2 class="text-lg font-semibold text-gray-700">ID:</h2>
        <p class="text-gray-600">{{ incidencia.ID }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Descripción:</h2>
        <p class="text-gray-600">{{ incidencia.Descripcion }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Tipo:</h2>
        <p class="text-gray-600">{{ incidencia.Tipo }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">ID Unidad:</h2>
        <p class="text-gray-600">{{ incidencia.IDUnidad }}</p>
    </div>
</div>
{% else %}
<p class="text-red-500 text-center">Incidencia no encontrada.</p>
{% endif %}
{% endblock %}