{% extends "base.html" %}

{% block title %}Detalle del Horario{% endblock %}
{% block header %}Detalle del Horario{% endblock %}
{% block back_url %}/schedules{% endblock %}

{% block content %}
{% if horario %}
<div class="space-y-4">
    <div>
        <h2 class="text-lg font-semibold text-gray-700">ID del Horario:</h2>
        <p class="text-gray-600">{{ horario.ID }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Fecha de Llegada:</h2>
        <p class="text-gray-600">{{ horario.Llegada }}</p>
    </div>
    <div>
        <h2 class="text-lg font-semibold text-gray-700">Fecha de Salida:</h2>
        <p class="text-gray-600">{{ horario.Salida }}</p>
    </div>
</div>
{% else %}
<p class="text-red-500 text-center">No se encontró información para este horario.</p>
{% endif %}
{% endblock %}