<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Ticket Existente</title>
</head>
<body>
    <h1>Eliminar Ticket</h1>
    <form action="/ticket/delete" method="post">
        <div>
            <label for="ID">ID del Ticket a Eliminar:</label> <!-- Cambiado a `ID` -->
            <input type="text" id="ID" name="ID" required> <!-- Cambiado a `ID` -->
        </div>
        <button type="submit">Eliminar Ticket</button>
    </form>
    <p><a href="/">Volver</a></p>
</body>
</html>