<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Horario Html</title>
</head>
<body>
    <h1>Eliminar Horario</h1>
    <form action="/schedule/delete" method="post">
        <div>
            <label for="schedule_id">ID de Horario a Eliminar:</label>
            <input type="text" id="schedule_id" name="schedule_id" required>
        </div>
        <button type="submit">Eliminar Horario</button>
    </form>
    <p><a href="/">Volver</a></p>
</body>
</html>