{% extends "base.html" %}

{% block title %}Listar Horarios{% endblock %}
{% block header %}Lista de Horarios{% endblock %}
{% block back_url %}/schedules{% endblock %}

{% block content %}
<table class="table-auto w-full border-collapse border border-gray-300">
    <thead>
        <tr class="bg-gray-200">
            <th class="border border-gray-300 px-4 py-2 text-left">ID</th>
            <th class="border border-gray-300 px-4 py-2 text-left">Hora de Inicio</th>
            <th class="border border-gray-300 px-4 py-2 text-left">Hora de Fin</th>
        </tr>
    </thead>
    <tbody>
        {% for horario in horarios %}
        <tr class="hover:bg-gray-100">
            <td class="border border-gray-300 px-4 py-2">{{ horario.ID }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ horario.Llegada }}</td>
            <td class="border border-gray-300 px-4 py-2">{{ horario.Salida }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}