<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Incidencias</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1 class="main-title">Lista de Incidencias</h1>
    </header>
    <main>
        {% if incidencias %}
        <table class="styled-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for incidencia in incidencias %}
                <tr>
                    <td>{{ incidencia.ID }}</td>
                    <td>{{ incidencia.Descripcion }}</td>
                    <td>{{ incidencia.Fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No se encontraron incidencias.</p>
        {% endif %}
    </main>
    <footer>
        <p><a href="/" class="btn">Volver</a></p>
    </footer>
</body>
</html>