<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Horarios</title>
</head>
<body>
    <h1>Lista De Horarios</h1>
    <div id="listaDeHorarios">
        {% if horarios %}
        <table>
            <thead>
                <tr>
                    <th>ID de Horario</th>
                    <th>Fecha de Llegada</th>
                    <th>Fecha de Salida</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for horario in horarios %}
                <tr>
                    <td>{{ horario.id }}</td>
                    <td>{{ horario.llegada }}</td>
                    <td>{{ horario.salida }}</td>
                    <td><a href="/schedules/{{ horario.id }}">Ver Detalle</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No hay horarios disponibles.</p> <!-- Cambiado a texto esperado -->
        {% endif %}
    </div>
    <p><a href="/schedules/consultar">Volver A La Página De Consulta</a></p>
</body>
</html>