<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel del Operario</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/operario.css') }}">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Operario</h2>
            <button class="menu-btn" onclick="location.href='/incidences/create'" >Reportar Incidencias y fallas</button>
            <button class="menu-btn"onclick="location.href='/incidences/'">Alertas</button>
            <button class="menu-btn"onclick="location.href='/asistance/conductor/consultar'">Marcar Asistencia</button>
        </aside>

        <!-- Área principal -->
        <main class="main-content">
            <header class="header">
                <h1>Información General</h1>
            </header>

            <div class="info-cascade">
                <div class="info-block">
                    <h3>Nombre</h3>
                    <p>{{user.Nombre or 'No disponible'}}</p>
                </div>
                <div class="info-block">
                    <h3>Turno</h3>
                    <p>{{turno or 'No disponible'}}</p>
                </div>  
            </div>
        </main>
    </div>
</body>
</html>
