<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Supervisor - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/supervisor.css') }}">
    
</head>
<body>
    <div class="dashboard">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Supervisor</h2>
            <button class="menu-btn" onclick="location.href='/shifts/create'">Crear turno</button>
            <button class="menu-btn" onclick="location.href='/reporte/supervisor'">Reporte de desempeño</button>
            <button class="menu-btn" onclick="location.href='/transport_units/'">Obtener información de Unidad</button>
            <button class="menu-btn" onclick="location.href='/incidences/'">Consultar incidencias</button>
            <button class="menu-btn" onclick="location.href='/behavior/consultar/supervisor'">Gestion de Reportes de Rendimiento</button>
            <button class="menu-btn"onclick="location.href='/asistance/consultar/supervisor'">Marcar Asistencia</button>
        </aside>

        <!-- Panel principal -->
        <main class="main-content">
            <header class="header">
                <h1>Panel de Supervisor</h1>
            </header>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
