<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Técnico - Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/tecnico.css') }}">
</head>
<body>
  <div class="container">
    <div class="sidebar">
      <h2>Técnico</h2>
      <button class="menu-btn" onclick="location.href='/schedules/'">Consultar historial de bus</button>
      <button class="menu-btn" onclick="location.href='/schedules/'">Itinerario</button>
      <button class="menu-btn" onclick="location.href='/maintainance/crear'">Registrar Mantenimiento</button>
      <button class="menu-btn" onclick="location.href='/reporte/alert-tec'">Alertas</button>
      <button class="menu-btn"onclick="location.href='/asistance/consultar/tecnico'">Marcar Asistencia</button>
    </div>
    <div class="main-content">
      <div class="header">
        <h1>Panel General del Técnico</h1>
      </div>

      <div class="info-section">
        <div class="info-box">
          <h3>Buses en Mantenimiento</h3>
          <p>{{buses_mantenimiento}}</p>
        </div>
        <div class="info-box">
          <h3>Próximos Mantenimientos</h3>
          <p>{{proximo_mantenimiento}}</p>
        </div>
        <div class="info-box">
          <h3>Historial Técnico</h3>
          <p>{{registros_mantenimiento}} registros</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
